<<<<<<< HEAD
<div id="app">
  Modify me in `app/views/homes/index.html.erb` or change the root directive in
  `config/routes.rb`
  <div>
=======
<div id="app"></div>
>>>>>>> 4f102d698048680483f9b4995c4bf62e3b2813d6
